@media (max-width: 575.98px) { 
	header h1{
		font-size: 2.986rem;
		line-height: 3.583rem;
	}
	
	.datebar p{
		font-size: 1rem;
	}
	
	.titlebar h1{
		font-size: 3.583rem;
		line-height: 4.3rem;
	}
	
	.intro img {
		margin-left: 10px;
	}
	
	.intro h2 {
		font-size:2.488rem; 
	}
	
	p{
		font-size: 1.5rem !important;
		line-height: 2.0rem !important;
	}
	
	.left-col {
	padding-left: 10px;
		text-align: center;
}
.right-col{
	padding-left: 10px;
	text-align: center;
}
	
	.team h1{
		font-size: 3.583rem;
		line-height: 4.3rem;
	}
	.member h3{
		font-size:  2.488rem;
		margin: 0px auto;
		margin-top: 20px;
		text-align: center;
	}
	
	.member{
		text-align: center;
	}

	.feature h1 {
		font-size: 3.5rem;
	}
	
	.feature h2 {
		font-size: 2.488rem;
		padding: 32px !important;
	}
}

.feature{
	text-align: center;
}
.feature ul li{
	text-align: left;
}