body{
	background-color: #fff6e9;
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: #40372b;
	overflow-x: hidden;

}


/*Section*/
Header{
	background: url("../images/line_top.png");
	background-repeat: repeat-x;
	margin-top: 9px;
	padding-top: 33.44px;
}

.datebar{
	background-color: #40372b;
	margin-top: 40px;
	margin-bottom: 39px;
}

.intro img{
	margin-top: 40px;
	
}

.left-col{
	padding-right: 30px;
	
}
.right-col{
	padding-left: 30px;
	
}


.feature_title{

	background: url("../images/geaturafeatured.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.feature_item{
	color: #fff6e9;
	background-color: #40372b;
	margin: 30px 0;
}

.feature_item h2{
	font-size: 1.5rem;
	padding: 8px;
	color: #fff6e9;
	margin: 20px !important;
	
}

.description_title h3{
	font-size: 1.2rem;
	border-top: 1.47px solid #40372b;
	border-bottom: 1.47px solid #40372b;
	margin-top: 50px;
	margin-bottom: 20px;
	padding: 10px;
}

.feature_images img{
	border: 3px solid #40372b;
	
}


/*Typography*/
h1, h4 {
	font-family: "Times New Roman", "serif";
}

h2 {font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";}

header h1{
	font-size: 5.029375rem;
	}

h3 {
	font-size: 1.9475rem;
}

.datebar p{
	color: white;
	font-size: 1.333125rem;
	margin-top: 4px;
	margin-bottom: 3px;
	
}

.titlebar h1{
	color:#e2211c;
	font-size: 4.284375rem;
	line-height: 4.76rem;
}

.intro p{
	font-size: 1.58625rem;
	
}

.left-col h2{
	margin: 40px 0px;
	font-size: 2.01375rem;
	border-top: 2px solid #40372b;
	border-bottom: 2px solid #40372b;
	padding: 11px 0px 11px 0px;
}
.right-col h2{
	margin: 60px 0px 40px;
	font-size: 2.01375rem;
	border-top: 2px solid #40372b;
	border-bottom: 2px solid #40372b;
	padding: 11px 0px 11px 0px;
}

.right-col p {
	margin-bottom: 50px;
}

.team{
	background: url("../images/team.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin-top: 30px;
}

.team h1 {
	color: #e2211c;
	font-size: 4.284375rem;
	
}
.member{
	padding-top: 60px;
}
.member h3{
	border-top: 2px solid #40372b;
	border-bottom: 2px solid #40372b;
	border-bottom: 2px solid #40372b;
	margin-bottom: 35px;
}

.member p{
	font-size: 1.39625rem;
	
}


.user {
	padding-bottom: 50px;
}

.feature_title h1 {
	font-size: 3.808125rem;
}

.description_content p, li{
	font-size: 1.39625rem;

}

.email_link a{
	color: #e2211c!important;
	text-decoration: underline!important;
	font-size: 1.39625rem;
	
}

a{color: #e2211c!important;
	text-decoration: underline!important;
	font-size: 1.39625rem;}

.feature_items a{
	font-size: 5.18rem;
}

a:hover{
	font-weight: 700;
}
